name: dvc ci pipeline
on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    dvc_pipeline:
        runs-on: ubunut-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: setup python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
            
            - name: Install Dependencies
              run: |
               python -m pip install --upgrade pip
               pip insatall -r requirements.txt

            - name: Pull DVC data
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
              run: |
                dvc pull

            - name: Reproduce dvc Pipeline
              run: |
                dvc repro

            - name: Show Pipeline status
              run: |
                dvc status

