<<<<<<< HEAD
name: DVC CI Pipeline

=======
name: dvc ci pipeline
>>>>>>> 0ce0f78b8fb68e2e60600341662e2629083be8aa
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  dvc-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

<<<<<<< HEAD
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
=======
            - name: Reproduce dvc Pipeline
              run: |
                dvc repro
>>>>>>> 0ce0f78b8fb68e2e60600341662e2629083be8aa

      - name: Pull DVC data
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        run: |
          dvc pull

      - name: Reproduce DVC pipeline
        run: |
          dvc repro

      - name: Show pipeline status
        run: |
          dvc status
